@model Pruebaimage2.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @{
                string urlBase64 = "";
                if (Model.Imagen != null && Model.Imagen.Length > 0)
                {
                    string base64String = Convert.ToBase64String(Model.Imagen);
                    urlBase64 = "data:image/jpeg;base64," + base64String;
                }
                else
                {
                    // Si no hay imagen, utilizar una imagen por defecto
                    urlBase64 = "/image/defecto.png"; // Ruta relativa desde la carpeta wwwroot
                }
            }
            <img src="@urlBase64" width="125px" height="100px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success"  asp-route-id="@Model?.CarroId">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
