@model IEnumerable<Pruebaimage2.Models.Carro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    @{
                        string urlBase64 = "";
                        if (item.Imagen != null && item.Imagen.Length > 0)
                        {
                            string base64String = Convert.ToBase64String(item.Imagen);
                            urlBase64 = "data:image/jpeg;base64," + base64String;
                        }
                        else
                        {
                            // Si no hay imagen, utilizar una imagen por defecto
                            urlBase64 = "/image/defecto.png"; // Reemplaza "/images/default-image.jpg" con la ruta de tu imagen por defecto
                        }
                    }
                    <img src="@urlBase64" width="50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.CarroId">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.CarroId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CarroId">Delete</a>
                    <a asp-action="DeleteImagen" class="btn btn-warning" asp-route-id="@item.CarroId">Delete Imagen</a>
            </td>
        </tr>
}
    </tbody>
</table>
